<h1>Salama! Tonga soa eto amin'ny Fanampy DEV</h1>

<p>
    Hamarino ny mailaka nanaovana fisoratana anarana amin'ny alalan'ito rohy ito <br><br>
    <a href="{{ signedUrl }}">Hamarinoko ny mailaka</a>.
    {# Ity rohy ity dia manan-kery anatin'ny {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}. #}
    Ity rohy ity dia manan-kery anatin'ny 1 ora.
</p>

<p>
    Misaotra anao!
</p>
