  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Fanampy DEV</h3>
            <p>
              Antananarivo <br>

              <strong>Finday</strong> +261 xxxxx <br>
              <strong>Mailaka:</strong> contact@fanampydev.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Rohy ilaina</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ path ('home')}}">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Momba anay</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Fizarana</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Fifandraisana</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Fitsipi-pifehezana</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Ny sehatra</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Kajy mirindra</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Base de données</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Réseau</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Ny vondrona sosialy</h4>
            <p>Ny mpikambana ao amin'ny "Fanampy DEV" dia misoratra anarana ao amin'ny vondrona facebook  </p>
            <div class="social-links mt-3">
            
              <a href="https://www.facebook.com/groups/1242273462836972" class="facebook"><i class="bx bxl-facebook"></i></a> Fanampy DEV

            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Fanampy Dev</span></strong>
      </div>
    </div>
  </footer><!-- End Footer -->